nav ul li {
    width: 300px; 
    height: 30px; 
    font-size: 1.5rem; 
    color: rgb(226, 100, 100);
}
a {
    cursor: pointer;
}
.me {
    margin: 50px 0px 50px 50px;
}
.me label {
    cursor: pointer;
}